<div *ngIf="isProductDetails && products">
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let product of products | paginate: { itemsPerPage: 20, currentPage: p}">
                <mat-card class="mat-elevation-z4 mainCard" (click)="cardClick(product)">
                    <mat-card-header>
                    </mat-card-header>

                    <mat-card-content style="margin-top: 15px;">
                        <div style="height: 200px;">
                            <img mat-card-image class="imgCenter" [src]="serverURL+product.product_images[0][ '250']">
                        </div>
                        <div style="margin-top: 10px;">
                            <div class="title">${{product.price}}</div>
                            <div class="title">{{product.title}}</div>
                        </div>
                    </mat-card-content>

                </mat-card>
            </div>
        </div>
        <div class="paginator">
            <pagination-controls autoHide="true" responsive="true" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div *ngIf="!isProductDetails && productDetails" class="content">
    <div class="container" style="color: black !important;">
        <div class="card " style="background-color: white; margin-top: 1px; ">
            <div class="container-fliud ">
                <div class="wrapper row">
                    <div class="preview col-md-1 side-img-panel">
                        <ul class="preview-thumbnail nav nav-tabs " *ngFor="let image of productDetails.product_images ">
                            <div style="border: 1px solid gray;">
                                <img #img1 class="imgCenter " [src]="serverURL+image[ '250'] " (click)="changeMainImage(img1) " />
                            </div>

                        </ul>

                    </div>
                    <div class="preview col-md-5 ">

                        <!-- <div class="preview-pic tab-content ">
                            <div class="tab-pane active " id="pic-1 ">
                                <img #mainImg src={{mainImage}}/>
                            </div>
                        </div> -->

                        <div class="img-zoom-container ">
                            <div class="outerImg " (mouseenter)="showZoomWin() " (mouseleave)="hideZoomWin() ">
                                <img #myimage id="myimage" class="mainImg" src={{mainImage}} width="300" style="vertical-align: middle !important;" (mousemove)="imageZoom();">
                                <div #zoomDiv id="zoomDiv " class="img-zoom-lens "></div>
                            </div>
                        </div>
                    </div>
                    <div class="details col-md-6">
                        <div>
                            <div class="col-md-4">
                                <div>
                                    <img class="avatar" *ngIf="(serverURL + productDetails.merchant.images.profile_pic['250'])" [src]="serverURL + productDetails.merchant.images.profile_pic['250']" alt="Avatar">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div style="font-weight: bold;">
                                    {{productDetails.merchant.business_info[0].businessName}}
                                </div>
                                <div style="font-size: large;">
                                    {{productDetails.merchant.location}}
                                </div>
                                <div>
                                    <mat-icon matTooltip="Contact" style="margin-right: 15px;"> call</mat-icon>
                                    <mat-icon style="color: green; margin-right: 15px;" matTooltip="Ready for delivery"> directions_car</mat-icon>
                                    <mat-icon [class.complete]="productDetails.merchant.profileCompletion == 100" matTooltip="Profile" style="margin-right: 15px;">star_half</mat-icon>
                                </div>
                            </div>
                        </div>
                        <mat-divider style="margin-top: 20px; margin-bottom: 20px;"></mat-divider>


                        <h1 class="product-title ">{{productDetails.title}}</h1>
                        <h4><b>SKU:</b> {{productDetails.sku}}</h4>
                        <div>
                            <table style="width:100%; background-color: lightgray; margin-bottom: 20px;">
                                <tr>
                                    <th>Qty</th>
                                    <th>Price</th>
                                </tr>
                                <tr>
                                    <td>0 - 1</td>
                                    <td>${{productDetails.price}}</td>
                                </tr>
                            </table>
                        </div>

                        <p class="product-description" style="margin-bottom: 30px;">
                            {{productDetails.description}}
                        </p>
                    </div>
                    <div style="width: 100%; margin-top: 50px !important;" class="buttonCenter">
                        <div class="col-md-6 buttonCenter">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> Grand Rapids
                        </div>
                        <div class="col-md-6 buttonCenter">
                            <i class="fa fa-phone" aria-hidden="true"></i>Click to View Number
                        </div>
                    </div>
                    <div *ngIf="showZoom ">
                        <div #myresult id="myresult " class="img-zoom-result "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>