<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button *ngIf="sidenav && sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button>
        <div style="display: flex; width: 100%; justify-content: space-between;">
            <h1 [routerLink]="['/']" style="font-size: larger; cursor: pointer;">SeeBiz</h1>
            <div style="display: flex;">
                <h3 (click)="setPersonalChat();" style="font-size: medium; cursor: pointer; margin-left: 10px;">Personal Chats</h3>
                <h3 (click)="setGroupChat();" style="font-size: medium; cursor: pointer; margin-left: 10px;">Group Chats</h3>
                <h3 (click)="setNewChat();" style="font-size: medium; cursor: pointer; margin-left: 10px;">New Chat</h3>
            </div>

            <!-- <span class="menu-spacer"></span> -->
            <!-- <mat-icon matTooltip="Chats" style="cursor: pointer; color: white;" [routerLink]="['/chat']"> home </mat-icon> -->
        </div>
    </mat-toolbar-row>
</mat-toolbar>