html,
body {
    height: 100%;
}

body {
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 1px solid #d4d4d4;
    background-image: url('./assets/images/zoom-image.png');
    background-repeat: repeat;
    background-size: contain;
    opacity: 0;
    cursor: zoom-in !important;
    // display: none;
    // margin-left: 12px;
    // margin-top: 12px;
}

.img-zoom-result {
    width: 450px;
    height: 400px;
    background-color: none;
    transition: 0.3s;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 50px;
    // border: 1px solid #d4d4d4;
    // box-shadow: 0 4px 8px 0 rgba(0, 79, 248, 0.5);
}

.show {
    opacity: 500;
}

.hide {
    opacity: 0;
}

.outerImg {
    width: 310px;
    height: 250px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}