<mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8" #sidenav="matSidenav">
        <!-- <div style="width: 100%; text-align:center">
            <input type="text" name="" id="">
            <mat-icon style="vertical-align: middle; right:0px">search</mat-icon>
        </div> -->
        <mat-nav-list *ngIf="personalChat">
            <div class="chat" *ngFor="let chat of chats" (click)="showMessages(chat)">
                <div style="position: relative;">
                    <mat-icon *ngIf="checkOnlineUsers(chat)" style="font-size: small; position: absolute; right: -10px; bottom: -10px; color: rgb(0, 180, 69);">lens</mat-icon>
                    <img class="avatar" src="../../../assets/images/img1.png" alt="">
                </div>
                <div style="line-height: 12px; padding-left: 10px; padding-top: 20px; padding-bottom: 5px;">
                    <p style="font-size: large;">{{checkreciever(chat)}}</p>
                    <p style="color:lightgrey;">{{chat.message.body.text}}</p>
                </div>
                <ng-container *ngFor="let unreadCount of chat.unreadMessageCount">
                    <ng-container *ngIf="unreadCount.totalUnread == -1 && unreadCount.userId == userID">
                        <span style="border-radius: 50%; text-align: center; font-size: medium; position: absolute; right: 3px; bottom: 19px;">
                             <mat-icon style="font-size: medium; color: rgb(0, 180, 69);">lens</mat-icon>
                        </span>
                    </ng-container>
                    <ng-container *ngIf="unreadCount.totalUnread > 0 && unreadCount.userId == userID">
                        <span style="border: 1px solid greenyellow; min-width: 20px; border-radius: 50%; text-align: center; font-size: medium; position: absolute; right: 3px; bottom: 19px; color: ghostwhite;">
                            {{unreadCount.totalUnread}}
                        </span>
                    </ng-container>
                </ng-container>
            </div>
        </mat-nav-list>
        <mat-nav-list *ngIf="groupChat">
            <div class="chat" *ngFor="let chat of groupChats" (click)="showMessages(chat)">
                <div style="position: relative;">
                    <!-- <mat-icon *ngIf="checkOnlineUsers(chat)" style="font-size: small; position: absolute; right: -10px; bottom: -10px; color: rgb(0, 180, 69);">lens</mat-icon> -->
                    <img class="avatar" src="../../../assets/images/group-chat-avatar.jpg" alt="">
                </div>
                <div style="line-height: 12px; padding-left: 10px; padding-top: 20px; padding-bottom: 5px;">
                    <p style="font-size: large;">{{chat.chatSubject}}</p>
                    <p style="color:lightgrey;">{{chat.message.body.text}}</p>
                </div>
                <ng-container *ngFor="let unreadCount of chat.unreadMessageCount">
                    <ng-container *ngIf="unreadCount.totalUnread == -1 && unreadCount.userId == userID">
                        <span style="border-radius: 50%; text-align: center; font-size: medium; position: absolute; right: 3px; bottom: 19px;">
                             <mat-icon style="font-size: medium; color: rgb(0, 180, 69);">lens</mat-icon>
                        </span>
                    </ng-container>
                    <ng-container *ngIf="unreadCount.totalUnread > 0 && unreadCount.userId == userID">
                        <span style="border: 1px solid greenyellow; min-width: 20px; border-radius: 50%; text-align: center; font-size: medium; position: absolute; right: 3px; bottom: 19px; color: ghostwhite;">
                            {{unreadCount.totalUnread}}
                        </span>
                    </ng-container>
                </ng-container>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <main-chat [receiver]="reciever" [channelId]="channelId"></main-chat>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>